body {
  font-family: 'Segoe UI';
  margin: 0;
  background: linear-gradient(to right, #223e58, #083164);
  color: #ffffff;
  overflow-x: hidden;
  font-size: 25px;
}

section, .section {
  background-color: rgba(115, 164, 255, 0.8);
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 10%;
  padding: 40px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

section:hover, .section:hover{
  transition: 0.25s;
  scale:1.05;
}

h1, h2 {
  margin-bottom: 20px;
}

h3,h4{
  text-align: left;
}



ul, ol {
  list-style-position: inside;
  padding: 0;
}

a{
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  color: #1b1476;
  transition: 0.25s;
}

.Victims {
  width: 180px;
  height: auto;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 50px;
}
.profile-photo:hover {
  width: 200px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  scale: 1.2;
}

